<%= @page.title = "" %>
<% content_for :gallery do %>
  <ul id='gallery'>
    <% @page.images.each_with_index do |image, index| %>
      <li>
        <%= link_to image_tag(image.thumbnail("456x365#c").url), image.thumbnail("900x600").url %>
        <span class='caption'><%=raw @page.caption_for_image_index(index) %></span>
      </li>
   <% end %>
  </ul>
<% end %>
<%= render :partial => "/refinery/content_page" %>
<%#= render '/refinery/content_page' %>

